<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>18/08/23 17:28:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Createaccounttest.setup()[pri:0, instance:Test.Createaccounttest@3bfdc050]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/08/23 17:28:59</td>   <td>25032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createaccounttest.createnewacct(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:Test.Createaccounttest@3bfdc050]">createnewacct</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/08/23 17:29:09</td>   <td>34490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Createaccounttest.browserclose()[pri:0, instance:Test.Createaccounttest@3bfdc050]">&lt;&lt;browserclose</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/08/23 17:29:10</td>   <td>35723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Createaccounttest.setup()[pri:0, instance:Test.Createaccounttest@3bfdc050]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/08/23 17:29:33</td>   <td>58529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createaccounttest.createnewacct(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:Test.Createaccounttest@3bfdc050]">createnewacct</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>18/08/23 17:29:42</td>   <td>67786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Createaccounttest.browserclose()[pri:0, instance:Test.Createaccounttest@3bfdc050]">&lt;&lt;browserclose</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
</table>
