<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>18/08/23 20:33:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;loginpagetest.setup()[pri:0, instance:Test.loginpagetest@6e1567f1]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/08/23 20:33:35</td>   <td>28752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="loginpagetest.login()[pri:0, instance:Test.loginpagetest@6e1567f1]">login</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/08/23 20:33:48</td>   <td>41533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;loginpagetest.closebrowser()[pri:0, instance:Test.loginpagetest@6e1567f1]">&lt;&lt;closebrowser</td> 
<td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/23 20:33:51</td>   <td>45110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Createaccounttest.setup()[pri:0, instance:Test.Createaccounttest@5cb9f472]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/23 20:34:05</td>   <td>58809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createaccounttest.createnewacct(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:Test.Createaccounttest@5cb9f472]">createnewacct</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/23 20:34:22</td>   <td>76197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Createaccounttest.browserclose()[pri:0, instance:Test.Createaccounttest@5cb9f472]">&lt;&lt;browserclose</td> 
<td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/23 20:34:24</td>   <td>77441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Createaccounttest.setup()[pri:0, instance:Test.Createaccounttest@5cb9f472]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/23 20:34:32</td>   <td>86027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Createaccounttest.createnewacct(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:2, instance:Test.Createaccounttest@5cb9f472]">createnewacct</td> 
  <td>main@1535634836</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/08/23 20:34:53</td>   <td>106423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Createaccounttest.browserclose()[pri:0, instance:Test.Createaccounttest@5cb9f472]">&lt;&lt;browserclose</td> 
<td>&nbsp;</td>  <td>main@1535634836</td>   <td></td> </tr>
</table>
